a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:gray;
}

#menu1 {
  background-color: rgb(95, 218, 243);
  margin-top: 0%;
  margin-bottom: 0%;
  height: 25%;
}

#menu2 {
  background-color: yellow;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 25%;
}

#menu3 {
  background-color: orange;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 25%;
}

#menu4 {
  background-color: red;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 25%;
}

.seccion1 {
  width: 10%;
  height: 1000px;
  float: left;
  font-size: 30px;
}
.seccion2 {
  width: 85%;
  float: center;
  color: white;
  overflow: hidden;
  height: 1000px;
  font-size: 25px;
}

.centro {
  text-align: center;
}

.left {
  float: left;
  background: black;
}

body {
  background-color: black;
  overflow: hidden;
}


