
  #menu1 {
    background-color: blue;
    color : white;
  }

  #menu2 {
    background-color: yellow;
    color : white;
  }

  #menu3 {
    background-color: orange;
    color : white;
  }

  #menu4 {
    background-color: red;
    color : white;
  }
/* 
  body {
    background-color: black;
  }

  #Inicio {
    color: white;
  }

  #Nosotros {
    color: white;
  }

  #Perros {
    color: white;
  }

  #Gatos {
    color: white;
  }

  #Contactos {
    color: white;
  } */

  .seccion1 {
    border: 1px solid blue;
    width: 10%;
    height: 1000px;
    float: left;
    color:white;
    font-size: 30px;
   
    
  }
  .seccion2 {
    border: 1px solid blue;
    width: 85%;
    float: center;
    color:white;
    overflow:hidden;
    height: 2000px;
    font-size: 25px;
    
  }
  
/*   
  div {
    margin: 5px;
    width: 50px;
    height: 150px;
  } */

  .centro {
    text-align: center;
  }

  /* .center {
    float: center;
  } */
  
  .left {
    float: left;
    background: black;
    
  }

  body{
    background-color: black;
  }
  
  /* .right {
    float: right;
    background: cyan;
  } */


  /* #mi-id {
    margin: 0 20%;
  }

  #mi-id {
    margin: 20px 30px;
  }
  
  #mi-id {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
  } */



