#MENU {
    background-color: black;
    color : white;
  }

  #menu1 {
    background-color: blue;
    color : white;
  }

  #menu2 {
    background-color: yellow;
    color : white;
  }

  #menu3 {
    background-color: orange;
    color : white;
  }

  #menu4 {
    background-color: red;
    color : white;
  }